@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: #09090b;
    --color-dark-hover: #27272a;
    --color-dark-border: #27272a;
    --color-dark-button: #1c1c1f;
    --color-white-border: #f8f9fa;
}

.checkout-form__input {
    @apply p-2 border-2 border-white-border dark:border-dark-hover rounded-md h-10 w-full focus:outline-none focus:ring-2 focus:ring-zinc-800 dark:focus:ring-zinc-200
}